# Dependencies
node_modules/
frontend/
backend/
api-gateway/

# Production environment files
.env.production
.env.staging

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
